bin/*
!/plugins
!/plugins/android.json
!/plugins/fetch.json
plugins/*
platforms/*
node_modules/*
lib/*
www/assets/imgs/icons/*
jquery*
.bithoundrc
bundle.js
bundle.bat
www/index.html
www/about.html
page-lock.json