doctype mobile
html(lang='en', style='background-color: darkgrey;')
  head
    title About Shaffl
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
  body(style='margin: 10px; background-color: white; font-family: sans-serif; padding: 5pt; border-radius: 5pt; box-shadow: 0 0 15px rgba(0,0,0,.4)')
    a(href='index.html') ⇜
    h1 About Shaffliette
    em(style='color: grey;') Version: 0.0.1.5.2-pre Mobile Edition
    br
    a(href="javascript:window.open('https://github.com/moemoesoft/Shaffliette/issues', '_system')") Report a bug
    hr
    p MoeMoeSoft Shaffliette
    p &copy; MoeMoeSoft, 2018. All rights reserved.
    p
      | This software is distributed over BSD 2-Clause license. See LICENSE.txt for details.
    hr
    p This software is using other open-source licensed software.